﻿body {
}

.btn-add
{
      display: inline-block;
  /*padding: 6px 12px;*/
  padding:4px 10px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;

  float: right;
    margin: 10px 0px 0 10px;
  color: #fff;
    background-color: #048347;
    border-color: #2a6547;
    /*background: #007B3D none repeat scroll 0 0;
    color: #fff;
    float: right;
    margin: 10px 0px 0 10px;
    padding: 5px 10px;
    font-size: 14px;
    border:none*/
}

.btn-submit
{
    color: #fff;
    background-color: #04522c;
    border-color: #04522c;
}
.ui-widget-header {
    background: #048347;
}



